#main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#main-container form{
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 350px;
}

#main-container form input{
    height: 48px;
    border: 1px solid #DDD;
    border-radius: 4px;
    font-size: 16px;
    padding: 20px;
    margin-top: 30px;
}

#main-container form button{
    height: 48px;
    background: #7159c1;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 20px;
    margin-top: 10px;
    color: #FFF;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

#main-container form button:hover{
    opacity: 0.8;
}

#title-list{
    width: 250px;
    list-style: none;

}

#title-list li{ 
    padding: 8px;
    margin-top: 8px;
    text-align: left;
    padding-top: 5px;
    border-bottom: 1px solid #999;

}

#title-list li:hover{
    opacity: 0.8;
}

#title-list a {
    color: rgb(24, 23, 23);
    text-decoration: none;
}

#title-list h1{
    font-size: 21px;
}
